@import url(http://fonts.googleapis.com/css?family=Peralta);

/*******************************
*******************************/
section{width:100%; /*min-height:100%;*/ background: url(../img/pattern.png) repeat top left transparent; position: relative; /*padding:6em 0; */color:#FFF;}

section#start{background-color:#000000;}
section#works{background-color:#0049c2;}
section#about{background-color:#ff9a00;}
section#contact{background-color:#ff6600;}

section .content{ position: relative;}

section h1,
section h2{font-family: 'Peralta', "Trebuchet MS", Helvetica, sans-serif;}

section#start img{margin:1em 0;}
section#start h1,
section#start h2{color:#FFF; font-size: 3em; margin:0.5em 0 0 0;}
section#start h2{font-size: 1.8em;}
section#start .content{ text-align: center}

section#about{background-color:#ff9a00;}
section#about h1,
section#about h2{color:#000; font-size: 3em; margin:0.5em 0;}
section#about h2{font-size: 1.2em;}

section#about .content{text-align: center;}
section#about .content p{ color: #000; font:1.2em/1.2em "Trebuchet MS", Helvetica, sans-serif;}
section#about .content .skill{ margin-top:5%;}
section#about .content .skill p{font:0.9em/1.2em "Trebuchet MS", Helvetica, sans-serif;}

section#contact h1{color:#000; font-size: 3em; margin:0.5em 0 1em;}
section#contact .content{ text-align: center}