@import 'reset';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$primary-color: #999;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


body {
  font: 100% $font-stack;
  color: $primary-color;
}
 
nav {
  clear: both;
  display:table;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  li { display: inline-block; float: left}
 
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $primary-color;
    background: $bg-color-links;
    @include border-radius(10px);
  }
} 